@media only screen and (max-width: 767px) {
  /* Index Page */

  .testing {
    margin-top: 50px;
    font-size: xx-large;
  }
  .menu {
    margin-top: 50px;
    font-size: large;
  }
  .photos {
    margin-top: 50px;
    width: 100%;
    height: auto;
  }

  /* Pride Hoops */
  #pride {
    color: white;
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
  }
  #carouselPride {
    margin-top: 10px;
  }
  #pridePrice {
    font-size: 20px;
  }
}
