@media only screen and (max-width: 767px) {
  .testing {
    margin-top: 15%;
    font-size: xx-large;
  }
  .menu {
    margin-top: 10%;
    font-size: large;
  }
  .photos {
    margin-top: 10%;
    width: 100%;
    height: auto;
  }
}
